.fromGroup {
  padding: 1vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fromGroup > input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1vh dashed black;
}

@media screen and (max-width: 500px) {
  .fromGroup {
    padding: 5px;
  }

  .fromGroup > input {
    width: 70%;
    height: 50px;
    border: none;
    border-bottom: 1vh dashed black;
  }
}
