.navgationDiv {
  height: 10vh;
  display: flex;
  box-sizing: border-box;
  padding: 2vh;
  background-color: grey;
  align-items: center;
}

.heading-span {
  font-size: 5vh;
  font-weight: 900;
  color: white;
}

@media screen and (max-width: 500px) {
  .navgationDiv {
    height: 70px;
    padding: 10px;
  }
  .heading-span {
    font-size: 6px;
  }
}
