.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 90vh;
}

@media screen and (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 1000px;
  }
}
